.detail{
    flex: 1;

    .user{
        padding: 30px 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        border-bottom: 2px solid rgb(46, 73, 110);
        

        img{
            width: 90px;
            height: 90px;
            border-radius: 50%;
            object-fit: cover;
        }
    }

    .info{
        padding: 20px;
        display: flex;
        flex-direction: column;
        gap: 10px;

        .option{

            .title{
                display: flex;
                align-items: center;
                justify-content: space-between;

                img{
                    width: 30px;
                    height: 30px;
                    background-color: rgb(46, 73, 110);
                    padding: 10px;
                    border-radius: 50%;
                    cursor: pointer;
                }
            }

            .photos{
                display: flex;
                flex-direction: column;
                gap: 15px;
                margin-top: 20px;   


                .photoItem{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    .photoDetail{
                        display: flex;
                        align-items: center;
                        gap: 20px;

                        img{
                            width: 40px;
                            height: 40px;
                            border-radius: 5px;
                            object-fit: cover;
                        }

                        span{
                            font-size: 14px;
                            color: lightgray;
                            font-weight: 300;
                        }
                    }

                    .icon{
                        width: 30px;
                        height: 30px;
                        background-color: rgb(46, 73, 110);
                        padding: 10px;
                        border-radius: 50%;
                        cursor: pointer;
                    }
                }
            }
        }

        button{
            padding: 10px;
            background-color: rgb(224, 1, 45); 
            color: white;
            border: none;
            border-radius: 10px;
            cursor: pointer;
            font-size: 15px;
            font-weight: 700;
            transition: 0.3s ease;

            &:hover{
                background-color: rgba(109, 1, 23, 0.749);
            }

            &.logout{
                background-color: rgb(79, 48, 128);
                transition: 0.3s ease;


                &:hover{
                    background-color: rgb(33, 3, 80);
                }
            }

            
        }

        
    } 
}