@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,800;1,900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:  "Segoe UI";
  /* overflow: hidden; */
}

body{
  background-image: url("https://wallpaper.dog/large/17008248.jpg");
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: white;
  overflow: hidden;
}

.container{
  width: 90vw;
  height: 92vh;
  background-color: rgba(17, 25, 40, 0.75);
  backdrop-filter: blur(19px) saturate(180%);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.300);
  display: flex;
}

.loading{
  padding: 50px;
  font-size: 36px;
  border-radius: 10px;
  background-color: rgb(43, 43, 61);
}